html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
body {
    line-height: 1
}
ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
.cf:before,
.cf:after {
    content: " ";
    display: table
}
.cf:after {
    clear: both
}
.cf {
    *zoom: 1
}
.memphisLight {
    font-family: 'Memphis LT W01 Light'
}
.memphisLightItalic {
    font-family: 'MemphisLTW01-LightItali'
}
.memphisMedium {
    font-family: 'Memphis LT W01 Medium'
}
.memphisMediumItalic {
    font-family: 'MemphisLTW01-MediumItal'
}
.memphisBold {
    font-family: 'Memphis LT W01 Bold'
}
.memphisBoldItalic {
    font-family: 'MemphisLTW01-BoldItalic'
}
.memphisExtraBold {
    font-family: 'MemphisLTW01-ExtraBold'
}
h1 {
    font: 28px/36px 'MemphisLTW01-BoldItalic';
    margin: 0 0 .55em
}
#approach #approach-threeCol .onethird h1 {
    font: 28px/36px 'Memphis LT W01 Bold'
}
.service-wrap h1 {
    font: 28px/36px 'Memphis LT W01 Bold';
    border-bottom: 5px solid #000;
    padding: 0 0 2px 0
}
.service-wrap .service-entry h1 {
    width: 275px;
    padding: 0 0 2px 5px;
    margin: 0 0 8px
}
.service-wrap .service-entry.first h1 {
    width: 279px;
    padding: 0 0 2px 0
}
.service-wrap .service-entry.last h1 {
    padding: 0 0 2px 6px
}
h2 {
    font: 24px/32px 'MemphisLTW01-BoldItalic';
    margin: 0 0 .55em
}
.blog-entry h2,
#blogroll #contentPrimary h2,
#blogroll #contentTertiary h2 {
    font: 18px/22px 'Memphis LT W01 Medium';
    margin: 0
}
#blogroll #contentTertiary h2 {
    line-height: 14px;
    margin: 0 0 18px
}
h3 {
    font: 20px/28px 'MemphisLTW01-BoldItalic';
    margin: 0 0 .55em
}
h4 {
    font: 16px/24px 'MemphisLTW01-BoldItalic';
    margin: 0 0 .55em
}
h5 {
    font: 12px/20px 'MemphisLTW01-BoldItalic';
    margin: 0 0 .55em
}
h6 {
    font: 8px/16px 'MemphisLTW01-BoldItalic';
    margin: 0 0 .55em
}
body {
    font: 12px/17px 'Raleway', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
p {
    margin: 0 0 1.5em
}
div.work-post-intro-extra p {
    margin: 0 0 1px 0;
    line-height: 15px
}
strong {
    font-family: 'Memphis LT W01 Bold'
}
em > strong {
    font-family: 'MemphisLTW01-BoldItalic'
}
em {
    font-family: 'MemphisLTW01-MediumItal'
}
strong > em {
    font-family: 'MemphisLTW01-BoldItalic'
}
#adv-mason .adv-entry .adv-entry-message {
    font: 28px/36px 'MemphisLTW01-BoldItalic'
}
#adv-mason .adv-entry .adv-entry-advocate {
    font: 18px/24px 'Memphis LT W01 Medium'
}
#approach #approach-intro,
#services #services-intro {
    font: 36px/42px 'Memphis LT W01 Light';
    word-spacing: 0.03em;
    width: 100%;
    float: left;
    margin: 0 0 65px 0
}
a {
    text-decoration: none;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all
}
p a {
    font-family: 'MemphisLTW01-BoldItalic';
    color: #66cfb9
}
header #social a:hover,
#blogroll a:hover {
    opacity: 0.75
}
.blog-entry a {
    color: #000
}
ul {
    margin: 0 0 0 15px;
    list-style: disc
}
ol {
    margin: 0 0 0 15px;
    list-style: decimal
}
html,
body {
    width: 100%;
    height: 100%;
    color: #000
}
.container {
    width: 1420px;
    margin: 0 auto
}
#mti_wfs_colophon {
    display: none !important
}
img {
    max-width: 100%;
    height: auto
}
.onethird {
    width: 33%
}
.onehalf {
    width: 50%
}
.floatleft {
    float: left
}
#approach.fo-oh-fo > .container {
    background: url(../img/404.jpg) 81% 0% no-repeat;
    background-size: 24%
}
header {
    width: 100%;
    border-top: 14px solid #72dbc5;
    margin: 0 0 59px
}
header .gutter {
    padding: 19px 162px 0 239px
}
header #logo {
    float: left
}
header nav#mainNav {
    float: left
}
header nav#mainNav ul {
    list-style: none;
    margin: 18px 0px 0px 77px;
    width: 622px
}
header nav#mainNav ul li {
    float: left;
    width: 138px;
    margin: 0 104px 9px 0px
}
header nav#mainNav ul li.nomargin {
    margin: 0 0 9px
}
header nav#mainNav ul li a {
    display: block;
    width: 132px;
    border-bottom: 4px solid #000;
    height: 20px;
    font: 16px/16px 'Memphis LT W01 Medium';
    color: #000;
    text-decoration: none;
    padding: 4px 0px 0px 6px
}
header nav#mainNav ul li.current-menu-item a,
header nav#mainNav ul li:hover a {
    background: #000;
    color: #fff
}
header nav#social {
    float: right;
    margin: -7px 0 0 0
}
header nav#social ul {
    float: right;
    margin: 0;
    list-style: none
}
header nav#social ul li {
    display: block;
    height: 23px;
    width: 19px;
    text-decoration: none;
    text-indent: -9999px;
    float: left;
    padding: 0 1px 0 0
}
header nav#social ul li a {
    background: url(../img/socialIcons.png) 0 0 no-repeat;
    height: 100%;
    width: 100%;
    display: block
}
header nav#social ul li.facebook a {
    background-position: 0 0
}
header nav#social ul li.tumblr a {
    background-position: -22px 0
}
header nav#social ul li.instagram a {
    background-position: -43px 0
}
header nav#social ul li.twitter a {
    background-position: -64px 0
}
header nav#social ul li.google a {
    background-position: -85px 0
}
#sayHello {
    width: 100%;
    height: 92px;
    background: #72dbc5;
    position: relative;
    margin: -92px 0 0;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all
}
#sayHello.active {
    margin: 0
}
#sayHello .container {
    height: 92px;
    position: relative
}
#sayHello .gutter {
    padding: 17px 230px 0px 459px
}
#sayHello-caret {
    height: 16px;
    width: 16px;
    background: url(../img/sayHello.png) no-repeat;
    position: absolute;
    right: 483px;
    bottom: 0px;
    display: block;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all
}
.active #sayHello-caret {
    bottom: -30px
}
#sayHello .onethird .gutter {
    padding: 0 0
}
#sayHello .onethird.first .gutter {
    padding: 0 0
}
#sayHello .onethird.last .gutter {
    padding: 21px 0 0 0
}
#sayHello a {
    color: #000;
    font-family: 'MemphisLTW01-BoldItalic';
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all
}
#sayHello a:hover {
    opacity: 0.5
}
body.home {
    background: #FDF2EC
}
section#home .container {
    height: 1136px;
    background: url(../img/homeBG.gif) center top no-repeat
}
#page-content .container {
    width: 940px
}
#page-content .container > .gutter {
    padding: 20px
}
#works-filter {
    height: 21px;
    width: 100%;
    background: #ededf0;
    margin: 0 0 21px
}
body.post-type-archive-work #works-filter {
    margin: 0
}
#works-filter .gutter {
    padding: 0 220px 0 240px
}
#works-filter #complete-works {
    text-decoration: none;
    background: #72dbc5;
    height: 21px;
    float: left;
    color: #fff;
    text-transform: uppercase;
    line-height: 22px;
    padding: 0 11px
}
#works-filter #other-works {
    text-decoration: none;
    background: #72dbc5;
    height: 21px;
    float: right;
    color: #fff;
    text-transform: uppercase;
    line-height: 22px;
    padding: 0 11px
}
ul#filters {
    float: left;
    margin: 0;
    list-style: none;
    color: #979797
}
ul#filters li {
    float: left;
    padding: 0 21px;
    line-height: 21px
}
ul#filters li:hover {
    cursor: pointer;
    background: #72dbc5;
    color: #fff
}
ul#filters li.active {
    background: #72dbc5;
    color: #fff
}
#works-archive {
    background: #ededf0;
    width: 100%;
    float: left
}
#works-archive .container {
    width: 940px
}
#works-archive .gutter {
    padding: 50px 0 20px
}
#works-archive .works-archive-entry {
    float: left;
    width: 50%;
    font-family: 'Memphis LT W01 Medium';
    font-size: 18px
}
#works-archive .works-archive-entry a {
    color: #15000f;
    text-decoration: none
}
#works.featured .container {
    width: 1435px
}
#works .work-entry {
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
    -webkit-transform: scale(1);
    opacity: 1;
    display: block
}
#works .work-entry.hide {
    -webkit-transform: scale(0);
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0
}
.work-entry {
    float: left;
    height: 171px;
    width: 460px;
    position: relative;
    overflow: hidden;
    margin: 0 9px 20px;
    color: #fff;
    background: #000
}
.work-entry .work-entry-img {
    width: 50%;
    height: 100%
}
.work-entry.left .work-entry-img {
    float: right
}
.work-entry.right .work-entry-img {
    float: left
}
.work-entry .work-entry-data {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all
}
.work-entry.left .work-entry-data {
    left: -50%
}
.work-entry.right .work-entry-data {
    right: -50%
}
.work-entry.left:hover .work-entry-data {
    left: 0
}
.work-entry.right:hover .work-entry-data {
    right: 0
}
.work-entry .work-entry-data-vis {
    width: 50%
}
.work-entry.left .work-entry-data-vis {
    float: right
}
.work-entry.right .work-entry-data-vis {
    float: left
}
div.work-entry-data-vis .gutter {
    padding: 25px 30px 25px 19px
}
.work-entry .work-entry-data-add {
    width: 50%
}
.work-entry.left .work-entry-data-add {
    float: left
}
.work-entry.right .work-entry-data-add {
    float: right
}
.work-entry .work-entry-data-add .gutter {
    padding: 75px 20px 20px
}
span.work-entry-title {
    font: 18px/23px 'Memphis LT W01 Medium';
    height: 51px;
    width: 100%;
    float: left;
    border-bottom: 6px solid #fff;
    margin: 0 0 20px 0
}
span.work-entry-medium {
    font-size: 9px;
    text-transform: uppercase;
    line-height: 13px
}
#works.archive .container > .gutter {
    padding: 42px 240px
}
.work-post.grey {
    background: #f5f5f5
}
.work-post-intro {
    float: left;
    width: 100%;
    height: 170px;
    margin: 0 0 20px 0
}
.work-post-intro .work-entry-data {
    float: left;
    width: 460px;
    height: 170px;
    color: #fff
}
.work-post-intro .work-entry-data-vis {
    float: left;
    width: 50%
}
.work-post-intro .work-entry-data-vis .gutter {
    padding: 25px 29px 20px 20px
}
.work-post-intro .work-entry-data-add {
    float: left;
    width: 50%
}
.work-post-intro .work-entry-data-add .gutter {
    padding: 70px 40px 20px 30px
}
.work-post-intro .work-post-intro-extra {
    float: right;
    width: 50%
}
div.work-post-intro-extra .gutter {
    padding: 0 0 0 10px
}
.work-post-showcase {
    float: left;
    width: 100%;
    display: block;
    margin: 0 0 13px
}
.work-post-showcase img {
    float: left;
    width: 100%;
    height: auto;
    margin: 0 0 17px
}
.work-process-data {
    float: left;
    width: 100%;
    display: block
}
.work-process-data-vis {
    float: left;
    width: 460px;
    color: #fff;
    height: 170px
}
.work-process-data-vis .gutter {
    padding: 25px 29px 20px 20px
}
.work-process-title {
    font: 18px/23px 'Memphis LT W01 Medium';
    height: 29px;
    width: 181px;
    float: left;
    border-bottom: 6px solid #fff;
    margin: 0 0 20px 0
}
.work-process-intro-extra {
    float: right;
    width: 50%
}
.work-process-intro-extra .gutter {
    padding: 0px 0px 14px 10px
}
.work-process-intro-extra h2 {
    margin: 0 0 27px
}
.work-entry-process {
    float: left;
    width: 100%;
    display: block
}
.work-entry-process .work-entry-process-collage {
    float: left;
    width: 460px
}
.work-entry-process .work-entry-process-sketch {
    float: right;
    width: 460px
}
.work-entry-process-sketch img {
    margin: 0 0 15px
}
.work-entry-process-sketch.fullwidth {
    width: 100%;
    float: left;
    display: block
}
.work-entry-process-sketch.fullwidth .process-image {
    width: 460px;
    display: block
}
.work-entry-process-sketch.fullwidth .process-image.right {
    float: right
}
.work-entry-process-sketch.fullwidth .process-image.left {
    float: left
}
#people {
    margin: 42px 0 0;
    float: left;
    width: 100%
}
#people #contentPrimary {
    float: right;
    width: 460px
}
#people #contentSecondary {
    float: left;
    width: 960px
}
.people-entry {
    float: left;
    height: 171px;
    width: 460px;
    position: relative;
    overflow: hidden;
    margin: 0 0 20px;
    color: #fff;
    background: #000
}
.people-entry:hover {
    cursor: pointer
}
.people-entry .people-entry-img {
    width: 50%;
    height: 100%;
    position: relative
}
.people-entry.left .people-entry-img {
    float: right
}
.people-entry.right .people-entry-img {
    float: left
}
.people-entry .people-entry-data {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all
}
.people-entry.left .people-entry-data {
    left: -50%
}
.people-entry.right .people-entry-data {
    right: -50%
}
.people-entry.left:hover .people-entry-data {
    left: 0
}
.people-entry.right:hover .people-entry-data {
    right: 0
}
.people-entry .people-entry-data-vis {
    width: 50%
}
.people-entry.left .people-entry-data-vis {
    float: right
}
.people-entry.right .people-entry-data-vis {
    float: left
}
div.people-entry-data-vis .gutter {
    padding: 23px 30px 25px 19px
}
.people-entry .people-entry-data-add {
    width: 50%
}
.people-entry.left .people-entry-data-add {
    float: left
}
.people-entry.right .people-entry-data-add {
    float: right
}
.people-entry .people-entry-data-add .gutter {
    padding: 49px 20px 20px
}
.people-entry-pos {
    text-transform: uppercase;
    float: left;
    width: 100%;
    margin: 0 0 17px 0
}
.people-entry-statement {
    float: left;
    width: 100%
}
.people-entry-posit,
.people-entry-content {
    display: none
}
.people-entry-img-active {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}
span.people-entry-title {
    font: 18px/28px 'Memphis LT W01 Medium';
    height: auto;
    width: 100%;
    float: left;
    border-bottom: 6px solid #fff;
    margin: 0 0 20px 0
}
span.people-entry-medium {
    font-size: 9px;
    text-transform: uppercase;
    line-height: 13px
}
.people-entry.active {
    width: 938px;
    height: 362px;
    float: left
}
.people-entry.active .people-entry-img-active {
    display: block
}
.people-entry.active.left:hover .people-entry-data {
    left: -50%
}
.people-entry.active.right:hover .people-entry-data {
    right: -50%
}
.people-entry.active .people-entry-posit,
.people-entry.active .people-entry-content {
    display: block;
    float: left;
    width: 100%;
    clear: both
}
.people-entry.active .people-entry-posit {
    text-transform: uppercase;
    margin: 0 0 17px
}
.people-entry.active span.people-entry-title {
    width: 182px;
    clear: both;
    margin: 0 0 8px
}
#services .container > .gutter {
    padding: 35px 242px 35px 239px
}
#services-threeCol {
    float: left;
    width: 100%
}
.service-wrap {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
    height: 100%;
    position: relative;
    display: table
}
#services-threeCol .service-entry {
    width: 290px;
    margin: 0 30px 0 0;
    height: 100%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 0 48px
}
#services-threeCol .service-entry.first {
    width: 300px;
    margin: 0 15px 0 0
}
#services-threeCol .service-entry.last {
    width: 304px;
    margin: 0
}
#services-threeCol .service-entry .gutter {
    padding: 0 0 0 5px
}
#services-threeCol .service-entry.first .gutter {
    padding: 0 0
}
#services-threeCol .service-entry.last .gutter {
    padding: 0 0 0 5px
}
.services-seemore {
    position: absolute;
    bottom: 0;
    left: 5px
}
.service-entry.first .services-seemore {
    left: 0
}
.service-entry.last .services-seemore {
    left: 6px
}
#approach .container > .gutter {
    padding: 35px 242px 35px 239px
}
#approach #approach-threeCol .onethird .gutter {
    padding: 0 2px 0 10px
}
#approach #approach-threeCol .onethird.first .gutter {
    padding: 0 30px 0 0
}
#approach #approach-threeCol .onethird.last .gutter {
    padding: 0 0px 0 22px
}
#adv-mason .adv-entry {
    margin: 0 0 10px 0;
    color: #fff
}
.adv-entry.masn-one {
    width: 226px
}
.adv-entry.masn-two {
    width: 462px
}
.adv-entry.masn-three {
    width: 698px
}
.adv-entry.masn-four {
    width: 934px
}
.adv-entry.masn-five {
    width: 1170px
}
.adv-entry.masn-six {
    width: 1470px
}
#adv-mason .adv-entry .gutter {
    padding: 26px 52px
}
#adv-mason .adv-entry .adv-entry-message {
    margin: 0 0 15px;
    width: 100%;
    float: left
}
#adv-mason .adv-entry .adv-entry-advcoate {
    width: 100%;
    float: left
}
section#blogroll {
    margin: 42px 0 0;
    float: left;
    width: 100%
}
section#blogroll #contentSecondary {
    float: right;
    width: 940px;
    margin: 0 240px 0 0
}
section#blogroll .blog-entry {
    width: 460px;
    float: left;
    margin: 0 0 20px;
    position: relative
}
section#blogroll.single .blog-entry {
    width: 100%
}
.blog-entry .social-badge {
    position: absolute;
    top: 5px;
    left: 6px
}
.post-tumblr-wrap,
.post-wp-feature,
.post-instagram-feature,
.post-tumblr-feature {
    margin: 0 0 10px
}
#blogroll.single .post-tumblr-wrap,
#blogroll.single .post-wp-feature,
#blogroll.single .post-instagram-feature,
#blogroll.single .post-tumblr-feature {
    margin: 0 0 6px
}
.readmore,
.followus {
    font: 12px/15px 'MemphisLTW01-BoldItalic';
    margin: 0 0 19px
}
.followus a {
    color: #000
}
.single-post-date,
.post-instagram-date,
.post-tumblr-date,
.post-wp-date {
    font-size: 10px
}
.readmore {
    margin: 0 0 19px 0;
    display: block
}
.post-wp-feature {
    position: relative
}
.blog-entry .post-wp-feature a {
    position: absolute;
    top: 27px;
    left: 12px;
    color: #fff;
    border-bottom: 6px solid #fedf00;
    padding: 0 0 4px 0;
    width: 180px
}
.post-tumblr-wrap {
    float: left;
    width: 100%;
    display: block;
    background: #fedf00;
    display: table;
    vertical-align: middle;
    height: 120px;
    text-align: center
}
.post-tumblr-wrap blockquote {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    display: table-row
}
.post-tumblr-wrap blockquote a {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    width: 100%;
    font: 18px/22px 'Memphis LT W01 Medium'
}
#blogroll.single .post-tumblr-wrap blockquote a {
    font-size: 14px;
    line-height: 18px
}
.post-tumblr-wrap iframe {
    max-width: 100%
}
.post-wp-tags a,
.single-post-tags a {
    background: #fedf00;
    color: #000;
    margin: 5px 4px 0 0;
    padding: 0px 6px;
    text-transform: uppercase;
    font-size: 10px;
    float: left
}
section#blogroll #contentPrimary {
    float: left;
    width: 220px;
    background: #fedf00;
    position: relative
}
#blogroll #contentPrimary .gutter {
    padding: 26px 20px
}
#blogroll #contentPrimary ul {
    list-style: none;
    margin: 0;
    padding: 0
}
ul#reading-list {
    margin: 0 0 18px 0 !important;
    display: block
}
ul#reading-list li a {
    color: #000
}
ul#blog-tax li {
    font: 18px/22px 'Memphis LT W01 Medium';
    margin: 0 0 5px
}
ul#blog-tax li a {
    color: #000
}
#rssUrl {
    background: url(../img/rssIcon.png) no-repeat;
    height: 29px;
    width: 31px;
    position: absolute;
    bottom: -29px;
    left: 0
}
#rssUrl > a {
    display: block;
    height: 100%;
    width: 100%;
    text-indent: -9999px
}
section#blogroll.single #contentSecondary {
    float: left;
    width: 720px;
    margin: 0 0 20px
}
section#blogroll.single #contentSecondary > .gutter {
    padding: 0 0 0 19px
}
section#blogroll.single #contentTertiary {
    float: left;
    width: 259px
}
section#blogroll.single #contentTertiary > .gutter {
    padding: 0 0 0 19px
}
section#blogroll table {
    width: 100%;
    margin: 20px 0;
    display: inline-block
}
section#blogroll table thead {
    font-weight: bold;
    font-size: 12px
}
section#blogroll table td {
    padding: 10px
}
section#blogroll #contentSecondary ul,
section#blogroll #contentSecondary ol {
    padding: 0 0 15px;
    margin: 10px 0 10px 15px
}
section#blogroll #contentSecondary blockquote {
    font: 18px/22px 'Memphis LT W01 Medium';
    width: 90%;
    margin: 10px auto
}
section#blogroll #contentSecondary address {
    font-style: italic
}
.mobile {
    display: none
}
@media only screen and (max-width: 560px) {
    .sayhello {
        display: none
    }
    .container {
        width: 100% !important
    }
    .mobile {
        display: block
    }
    .onethird {
        width: 100%
    }
    #approach #approach-intro,
    #services #services-intro {
        font: 26px/32px 'Memphis LT W01 Light'
    }
    #scrollControl {
        height: 100%;
        width: 100%;
        float: left;
        overflow: hidden
    }
    #mobileMenu {
        width: 60%;
        background: #fff;
        position: fixed;
        height: 100%;
        transition: 0.2s all;
        -webkit-transition: 0.2s all;
        -moz-transition: 0.2s all;
        -ms-transition: 0.2s all;
        -o-transition: 0.2s all;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%)
    }
    #mobileMenu .gutter {
        padding: 20px
    }
    #siteWrap {
        transition: 0.2s all;
        -webkit-transition: 0.2s all;
        -moz-transition: 0.2s all;
        -ms-transition: 0.2s all;
        -o-transition: 0.2s all
    }
    #mobileMenu.active {
        position: fixed;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0)
    }
    #siteWrap.active {
        position: fixed;
        -webkit-transform: translateX(60%);
        -moz-transform: translateX(60%);
        transform: translateX(60%);
        -ms-transform: translateX(60%);
        -o-transform: translateX(60%);
        width: 100%;
        float: left
    }
    header {
        margin: 0 0 20px
    }
    header .gutter {
        padding: 20px
    }
    header #logo {
        float: left;
        height: 100px;
        width: 100px
    }
    header #mainNav,
    header #social {
        display: none
    }
    #menuTrigger {
        float: right;
        margin: 30px 0 0 0;
        padding: 7px 14px;
        color: #fff;
        background: #000;
        border-radius: 2px;
        text-transform: uppercase;
        font-weight: bold
    }
    #mobileMenu nav#mainNav {
        float: left
    }
    #mobileMenu nav#mainNav ul {
        list-style: none;
        margin: 18px 0px 0px 77px;
        width: 622px
    }
    #mobileMenu nav#mainNav ul li {
        float: left;
        width: 138px;
        margin: 0 104px 9px 0px
    }
    #mobileMenu nav#mainNav ul li.nomargin {
        margin: 0 0 9px
    }
    #mobileMenu nav#mainNav ul li a {
        display: block;
        width: 132px;
        border-bottom: 4px solid #000;
        height: 20px;
        font: 16px/16px 'Memphis LT W01 Medium';
        color: #000;
        text-decoration: none;
        padding: 4px 0px 0px 6px
    }
    #mobileMenu nav#mainNav ul li.current-menu-item a,
    #mobileMenu nav#mainNav ul li:hover a {
        background: #000;
        color: #fff
    }
    #mobileMenu nav#mainNav ul {
        list-style: none;
        margin: 0;
        width: 100%
    }
    #mobileMenu nav#mainNav ul li {
        float: left;
        width: 100%;
        margin: 0
    }
    #mobileMenu nav#mainNav ul li.nomargin {
        margin: 0
    }
    #mobileMenu nav#mainNav ul li a {
        padding: 4px 6px;
        width: auto
    }
    #mobileMenu nav#social {
        float: left;
        margin: 10px 0 0 0;
        width: 100%
    }
    #mobileMenu nav#social ul {
        float: none;
        margin: 0 auto;
        list-style: none;
        width: 125px
    }
    #mobileMenu nav#social ul li {
        display: block;
        height: 23px;
        width: 19px;
        text-decoration: none;
        text-indent: -9999px;
        float: left;
        padding: 0 1px 0 0
    }
    #mobileMenu nav#social ul li a {
        background: url(../img/socialIcons.png) 0 0 no-repeat;
        height: 100%;
        width: 100%;
        display: block
    }
    #mobileMenu nav#social ul li.facebook a {
        background-position: 0 0
    }
    #mobileMenu nav#social ul li.tumblr a {
        background-position: -22px 0
    }
    #mobileMenu nav#social ul li.instagram a {
        background-position: -43px 0
    }
    #mobileMenu nav#social ul li.twitter a {
        background-position: -64px 0
    }
    #mobileMenu nav#social ul li.google a {
        background-position: -85px 0
    }
    section#home .container {
        height: 750px;
        background: url(../img/homeBGmobile.gif) center top no-repeat;
        background-size: cover
    }
    #approach .container > .gutter {
        padding: 0 20px
    }
    #approach #approach-threeCol .onethird.first .gutter,
    #approach #approach-threeCol .onethird.last .gutter,
    #approach #approach-threeCol .onethird .gutter {
        padding: 10px 0
    }
    #services .container > .gutter {
        padding: 0 20px
    }
    .service-wrap {
        height: auto;
        display: block;
        margin: 0
    }
    #services-threeCol .service-entry.first,
    #services-threeCol .service-entry.last,
    #services-threeCol .service-entry {
        padding: 0 0 40px;
        width: 100%;
        height: auto;
        display: block;
        margin: 0 0 30px
    }
    #works-filter {
        height: auto
    }
    #works-filter .gutter {
        padding: 0 0px
    }
    #works-filter #complete-works,
    #works-filter #other-works {
        width: 100%;
        float: left;
        padding: 5px 10px
    }
    ul#filters {
        width: 100%
    }
    ul#filters li {
        width: 100%
    }
    .work-entry {
        width: 100%;
        margin: 0 0 5px;
        height: 140px
    }
    .work-entry-img img {
        width: auto;
        height: auto;
        max-width: 230px
    }
    .work-post-intro .work-entry-data-vis .gutter,
    div.work-entry-data-vis .gutter {
        padding: 15px 10px
    }
    span.work-entry-title {
        font: 12px/18px 'Memphis LT W01 Medium';
        margin: 0 0 10px;
        height: 41px
    }
    span.work-entry-medium,
    span.work-entry-statement {
        font-size: 8px
    }
    .work-post-intro .work-entry-data-add .gutter,
    .work-entry .work-entry-data-add .gutter {
        padding: 50px 10px 10px
    }
    #works.archive .container > .gutter {
        padding: 0 10px
    }
    .work-post-intro .work-entry-data,
    .work-post-intro .work-entry-intro-extra {
        width: 100%
    }
    .work-post-intro .work-post-intro-extra {
        float: left;
        width: 100%
    }
    .work-post-intro {
        height: auto
    }
    div.work-post-intro-extra .gutter {
        padding: 20px 0 0
    }
    .work-post-showcase img {
        margin: 0 0 5px
    }
    .work-process-data-vis {
        width: 100%
    }
    .work-process-intro-extra {
        float: left;
        width: 100%
    }
    .work-entry-process-sketch.fullwidth .process-image {
        width: 100%
    }
    #works-archive {
        display: none
    }
    #people #contentPrimary,
    #people #contentSecondary {
        width: 100%;
        float: left
    }
    #people .container > .gutter {
        padding: 0 10px
    }
    .people-entry {
        width: 100%;
        margin: 0 0 5px
    }
    .people-entry .people-entry-img img {
        max-width: 230px
    }
    .people-entry.active {
        width: 100%;
        max-height: 520px;
        height: auto
    }
    .people-entry.active .people-entry-img {
        float: left;
        height: 181px;
        width: 100%
    }
    .people-entry.active .people-entry-img img {
        max-width: 100%
    }
    .people-entry.active .people-entry-data,
    .people-entry.right.active .people-entry-data,
    .people-entry.left.active .people-entry-data {
        float: left;
        height: auto;
        width: 100%;
        position: relative;
        right: 0;
        left: 0
    }
    .people-entry.active .people-entry-data-add {
        display: none
    }
    .people-entry.active .people-entry-data-vis {
        width: 100%
    }
    .people-entry.right .people-entry-data {
        position: relative;
        float: right;
        width: 50%;
        right: 0
    }
    .people-entry.left .people-entry-data {
        position: relative;
        float: left;
        width: 50%;
        left: 0
    }
    .people-entry .people-entry-data-add {
        display: none
    }
    .people-entry .people-entry-data-vis {
        width: 100%;
        float: left
    }
    .people-entry.active.left:hover .people-entry-data {
        left: 0
    }
    .people-entry.active.right:hover .people-entry-data {
        right: 0
    }
    .people-entry-posit {
        display: block
    }
    .people-entry span.people-entry-title {
        margin: 0 0 8px
    }
    .adv-entry.masn-three {
        width: 100%
    }
    #adv-mason .adv-entry .adv-entry-message {
        font: 18px/26px 'MemphisLTW01-BoldItalic'
    }
    #adv-mason .adv-entry .adv-entry-advocate {
        font: 12px/16px 'Memphis LT W01 Medium'
    }
    #adv-mason .adv-entry .gutter {
        padding: 20px 30px
    }
    section#blogroll,
    section#people {
        margin: 0
    }
    section#blogroll #contentPrimary {
        float: left;
        width: 100%
    }
    section#blogroll #contentSecondary,
    section#blogroll.single #contentSecondary {
        float: left;
        width: 100%
    }
    section#blogroll #contentSecondary .gutter,
    section#blogroll.single #contentSecondary > .gutter,
    section#blogroll.single #contentTertiary > .gutter {
        padding: 20px
    }
    section#blogroll #contentSecondary .blog-entry .gutter {
        padding: 0 0
    }
    section#blogroll #contentTertiary,
    section#blogroll.single #contentTertiary {
        float: left;
        width: 100%;
        margin: 10px 0 0
    }
    #blogroll #contentTertiary h2 {
        margin: 0 0 5px
    }
    section#blogroll .blog-entry {
        width: 100%;
        margin: 20px 0;
        float: left
    }
    ul#blog-tax li {
        float: left;
        width: 50%
    }
    .blog-entry .social-badge {
        width: 25px
    }
    #mobileMenu nav#mainNav ul li a {
        padding: 12px 6px
    }
    #sayHello {
        display: none
    }
}
@media only screen and (min-width: 561px) and (max-width: 1024px) {
    .container {
        width: 100% !important
    }
    #sayHello .gutter {
        padding: 0 20px
    }
    header {
        margin: 0 0 10px
    }
    header .gutter {
        padding: 10px 20px 0
    }
    header #logo {
        width: 20%;
        padding: 0 3% 0 0
    }
    header nav#mainNav {
        width: 70%;
        float: left
    }
    header nav#mainNav ul {
        width: 100%;
        margin: 18px 0 0
    }
    header nav#mainNav ul li {
        width: 33%;
        float: left;
        margin: 0 !important
    }
    header nav#mainNav ul li a {
        padding: 9px 0px 5px 6px;
        height: auto;
        width: 90%
    }
    header nav#social {
        width: 100%;
        margin: 0
    }
    section#home .container {
        background: url(../img/homeBG.gif) right top no-repeat
    }
    #approach > .container > .gutter {
        padding: 0 20px
    }
    #approach #approach-threeCol .onethird .gutter {
        padding: 0 10px
    }
    #approach #approach-threeCol .onethird.first .gutter {
        padding: 0 10px 0 0
    }
    #approach #approach-threeCol .onethird.last .gutter {
        padding: 0 0 0 10px
    }
    #services .container > .gutter {
        padding: 0 20px
    }
    .service-wrap {
        display: block
    }
    #services-threeCol .service-wrap .onethird {
        width: 30%;
        margin: 0 0.5%
    }
    #services-threeCol .service-wrap .onethird.first {
        width: 30%;
        margin: 0 1% 0 0
    }
    #services-threeCol .service-wrap .onethird.last {
        width: 30%;
        margin: 0 0 0 1%
    }
    .service-wrap .service-entry h1 {
        width: 100% !important;
        font-size: 22px;
        line-height: 28px;
        height: 60px
    }
    .adv-entry.masn-three {
        width: 462px
    }
    #advocates .container {
        width: 934px !important
    }
    #adv-mason .adv-entry .adv-entry-message {
        font: 22px/30px 'MemphisLTW01-BoldItalic'
    }
    #adv-mason .adv-entry .adv-entry-advocate {
        font: 16px/22px 'Memphis LT W01 Medium'
    }
    #people #contentPrimary,
    #people #contentSecondary {
        width: 100%;
        float: left
    }
    #people .container > .gutter {
        padding: 0 20px
    }
    section#blogroll #contentPrimary {
        width: 24%
    }
    section#blogroll #contentSecondary,
    section#blogroll.single #contentSecondary {
        width: 75%;
        margin: 0
    }
    section#blogroll.single #contentTertiary {
        float: right;
        width: 75%;
        margin: 0
    }
    #works-filter {
        height: auto
    }
    #works-filter .gutter {
        padding: 0
    }
    #works-filter #other-works,
    #works-filter #complete-works {
        padding: 5px 11px;
        height: auto
    }
    ul#filters li {
        padding: 5px 21px
    }
    .work-entry {
        width: 48%;
        margin: 0 1% 20px
    }
    .work-entry-img img {
        width: 100%;
        height: 100%
    }
}
@media only screen and (min-width: 561px) and (max-width: 800px) {
    .work-entry {
        width: 100%;
        margin: 0 0 10px
    }
}
@media only screen and (min-width: 561px) and (max-width: 973px) {
    .people-entry {
        width: 100%;
        margin: 0 0 5px
    }
    .people-entry .people-entry-img img {
        max-width: 230px
    }
    .people-entry.active {
        width: 100%;
        max-height: auto;
        height: auto
    }
    .people-entry.active .people-entry-img {
        float: left;
        height: 410px;
        width: 100%
    }
    .people-entry.active .people-entry-img img {
        max-width: 100%
    }
    .people-entry.active .people-entry-data,
    .people-entry.right.active .people-entry-data,
    .people-entry.left.active .people-entry-data {
        float: left;
        height: auto;
        width: 100%;
        position: relative;
        right: 0;
        left: 0
    }
    .people-entry.active .people-entry-data-add {
        display: none
    }
    .people-entry.active .people-entry-data-vis {
        width: 100%
    }
    .people-entry.right .people-entry-data {
        position: relative;
        float: right;
        width: 50%;
        right: 0
    }
    .people-entry.left .people-entry-data {
        position: relative;
        float: left;
        width: 50%;
        left: 0
    }
    .people-entry .people-entry-data-add {
        display: none
    }
    .people-entry .people-entry-data-vis {
        width: 100%;
        float: left
    }
    .people-entry.active.left:hover .people-entry-data {
        left: 0
    }
    .people-entry.active.right:hover .people-entry-data {
        right: 0
    }
    .people-entry-posit {
        display: block
    }
    .people-entry span.people-entry-title {
        margin: 0 0 8px
    }
}
@media only screen and (min-width: 561px) and (max-width: 948px) {
    #advocates .container {
        width: 95% !important
    }
    .adv-entry.masn-three {
        width: 100%
    }
    #adv-mason .adv-entry .adv-entry-message {
        font: 18px/26px 'MemphisLTW01-BoldItalic'
    }
    #adv-mason .adv-entry .adv-entry-advocate {
        font: 14px/20px 'Memphis LT W01 Medium'
    }
}
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    .container {
        width: 100% !important
    }
    .mobile {
        display: block
    }
    .onethird {
        width: 100%
    }
    #approach #approach-intro,
    #services #services-intro {
        font: 26px/32px 'Memphis LT W01 Light'
    }
    #scrollControl {
        height: 100%;
        width: 100%;
        float: left;
        overflow: hidden
    }
    #mobileMenu {
        width: 60%;
        background: #fff;
        position: fixed;
        height: 100%;
        transition: 0.2s all;
        -webkit-transition: 0.2s all;
        -moz-transition: 0.2s all;
        -ms-transition: 0.2s all;
        -o-transition: 0.2s all;
        -webkit-transform: translateX(-100%)
    }
    #mobileMenu .gutter {
        padding: 20px
    }
    #siteWrap {
        transition: 0.2s all;
        -webkit-transition: 0.2s all;
        -moz-transition: 0.2s all;
        -ms-transition: 0.2s all;
        -o-transition: 0.2s all
    }
    #mobileMenu.active {
        position: fixed;
        -webkit-transform: translateX(0)
    }
    #siteWrap.active {
        position: fixed;
        -webkit-transform: translateX(60%);
        width: 100%;
        float: left
    }
    header {
        margin: 0 0 20px
    }
    header .gutter {
        padding: 20px
    }
    header #logo {
        float: left;
        height: 100px;
        width: 100px
    }
    header #mainNav,
    header #social {
        display: none
    }
    #menuTrigger {
        float: right;
        margin: 30px 0 0 0;
        padding: 7px 14px;
        color: #fff;
        background: #000;
        border-radius: 2px;
        text-transform: uppercase;
        font-weight: bold
    }
    #mobileMenu nav#mainNav {
        float: left
    }
    #mobileMenu nav#mainNav ul {
        list-style: none;
        margin: 18px 0px 0px 77px;
        width: 622px
    }
    #mobileMenu nav#mainNav ul li {
        float: left;
        width: 138px;
        margin: 0 104px 9px 0px
    }
    #mobileMenu nav#mainNav ul li.nomargin {
        margin: 0 0 9px
    }
    #mobileMenu nav#mainNav ul li a {
        display: block;
        width: 132px;
        border-bottom: 4px solid #000;
        height: 20px;
        font: 16px/16px 'Memphis LT W01 Medium';
        color: #000;
        text-decoration: none;
        padding: 4px 0px 0px 6px
    }
    #mobileMenu nav#mainNav ul li.current-menu-item a,
    #mobileMenu nav#mainNav ul li:hover a {
        background: #000;
        color: #fff
    }
    #mobileMenu nav#mainNav ul {
        list-style: none;
        margin: 0;
        width: 100%
    }
    #mobileMenu nav#mainNav ul li {
        float: left;
        width: 100%;
        margin: 0
    }
    #mobileMenu nav#mainNav ul li.nomargin {
        margin: 0
    }
    #mobileMenu nav#mainNav ul li a {
        padding: 4px 6px;
        width: auto
    }
    #mobileMenu nav#social {
        float: left;
        margin: 10px 0 0 0;
        width: 100%
    }
    #mobileMenu nav#social ul {
        float: none;
        margin: 0 auto;
        list-style: none;
        width: 125px
    }
    #mobileMenu nav#social ul li {
        display: block;
        height: 23px;
        width: 19px;
        text-decoration: none;
        text-indent: -9999px;
        float: left;
        padding: 0 1px 0 0
    }
    #mobileMenu nav#social ul li a {
        background: url(../img/socialIcons.png) 0 0 no-repeat;
        height: 100%;
        width: 100%;
        display: block
    }
    #mobileMenu nav#social ul li.facebook a {
        background-position: 0 0
    }
    #mobileMenu nav#social ul li.tumblr a {
        background-position: -22px 0
    }
    #mobileMenu nav#social ul li.instagram a {
        background-position: -43px 0
    }
    #mobileMenu nav#social ul li.twitter a {
        background-position: -64px 0
    }
    #mobileMenu nav#social ul li.google a {
        background-position: -85px 0
    }
    section#home .container {
        height: 750px;
        background: url(../img/homeBGmobile.gif) center top no-repeat;
        background-size: cover
    }
    #approach .container > .gutter {
        padding: 0 20px
    }
    #approach #approach-threeCol .onethird.first .gutter,
    #approach #approach-threeCol .onethird.last .gutter,
    #approach #approach-threeCol .onethird .gutter {
        padding: 10px 0
    }
    #services .container > .gutter {
        padding: 0 20px
    }
    .service-wrap {
        height: auto;
        display: block;
        margin: 0
    }
    #services-threeCol .service-entry.first,
    #services-threeCol .service-entry.last,
    #services-threeCol .service-entry {
        padding: 0 0 40px;
        width: 100%;
        height: auto;
        display: block;
        margin: 0 0 30px
    }
    #works-filter {
        height: auto
    }
    #works-filter .gutter {
        padding: 0 0px
    }
    #works-filter #complete-works,
    #works-filter #other-works {
        width: 100%;
        float: left;
        padding: 5px 10px
    }
    ul#filters {
        width: 100%
    }
    ul#filters li {
        width: 100%
    }
    .work-entry {
        width: 100%;
        margin: 0 0 5px;
        height: 140px
    }
    .work-entry-img img {
        width: auto;
        height: auto;
        max-width: 230px
    }
    .work-post-intro .work-entry-data-vis .gutter,
    div.work-entry-data-vis .gutter {
        padding: 15px 10px
    }
    span.work-entry-title {
        font: 12px/18px 'Memphis LT W01 Medium';
        margin: 0 0 10px;
        height: 41px
    }
    span.work-entry-medium,
    span.work-entry-statement {
        font-size: 8px
    }
    .work-post-intro .work-entry-data-add .gutter,
    .work-entry .work-entry-data-add .gutter {
        padding: 50px 10px 10px
    }
    #works.archive .container > .gutter {
        padding: 0 10px
    }
    .work-post-intro .work-entry-data,
    .work-post-intro .work-entry-intro-extra {
        width: 100%
    }
    .work-post-intro .work-post-intro-extra {
        float: left;
        width: 100%
    }
    .work-post-intro {
        height: auto
    }
    div.work-post-intro-extra .gutter {
        padding: 20px 0 0
    }
    .work-post-showcase img {
        margin: 0 0 5px
    }
    .work-process-data-vis {
        width: 100%
    }
    .work-process-intro-extra {
        float: left;
        width: 100%
    }
    .work-entry-process-sketch.fullwidth .process-image {
        width: 100%
    }
    #works-archive {
        display: none
    }
    #people #contentPrimary,
    #people #contentSecondary {
        width: 100%;
        float: left
    }
    #people .container > .gutter {
        padding: 0 10px
    }
    .people-entry {
        width: 100%;
        margin: 0 0 5px
    }
    .people-entry .people-entry-img img {
        max-width: 230px
    }
    .people-entry.active {
        width: 100%
    }
    .people-entry.active .people-entry-img {
        float: left;
        height: 181px;
        width: 100%
    }
    .people-entry.active .people-entry-img img {
        max-width: 100%
    }
    .people-entry.active .people-entry-data,
    .people-entry.right.active .people-entry-data,
    .people-entry.left.active .people-entry-data {
        float: left;
        height: 181px;
        width: 100%;
        position: relative;
        right: 0;
        left: 0
    }
    .people-entry.active .people-entry-data-add {
        display: none
    }
    .people-entry.active .people-entry-data-vis {
        width: 100%
    }
    .people-entry.right .people-entry-data {
        position: relative;
        float: right;
        width: 50%;
        right: 0
    }
    .people-entry.left .people-entry-data {
        position: relative;
        float: left;
        width: 50%;
        left: 0
    }
    .people-entry .people-entry-data-add {
        display: none
    }
    .people-entry .people-entry-data-vis {
        width: 100%;
        float: left
    }
    .people-entry.active.left:hover .people-entry-data {
        left: 0
    }
    .people-entry.active.right:hover .people-entry-data {
        right: 0
    }
    .people-entry-posit {
        display: block
    }
    .people-entry span.people-entry-title {
        margin: 0 0 8px
    }
    .adv-entry.masn-three {
        width: 100%
    }
    #adv-mason .adv-entry .adv-entry-message {
        font: 18px/26px 'MemphisLTW01-BoldItalic'
    }
    #adv-mason .adv-entry .adv-entry-advocate {
        font: 12px/16px 'Memphis LT W01 Medium'
    }
    #adv-mason .adv-entry .gutter {
        padding: 20px 30px
    }
    section#blogroll,
    section#people {
        margin: 0
    }
    section#blogroll #contentPrimary {
        float: left;
        width: 100%
    }
    section#blogroll #contentSecondary,
    section#blogroll.single #contentSecondary {
        float: left;
        width: 100%
    }
    section#blogroll #contentSecondary .gutter,
    section#blogroll.single #contentSecondary > .gutter,
    section#blogroll.single #contentTertiary > .gutter {
        padding: 20px
    }
    section#blogroll #contentSecondary .blog-entry .gutter {
        padding: 0 0
    }
    section#blogroll #contentTertiary,
    section#blogroll.single #contentTertiary {
        float: left;
        width: 100%;
        margin: 10px 0 0
    }
    #blogroll #contentTertiary h2 {
        margin: 0 0 5px
    }
    section#blogroll .blog-entry {
        width: 100%;
        margin: 20px 0;
        float: left
    }
    ul#blog-tax li {
        float: left;
        width: 50%
    }
    .blog-entry .social-badge {
        width: 25px
    }
    #mobileMenu nav#mainNav ul li a {
        padding: 12px 6px
    }
    #sayHello {
        display: none
    }
}
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    #mobileMenu nav#mainNav ul li.nomargin,
    #mobileMenu nav#mainNav ul li {
        float: left;
        width: 46%;
        margin: 0 2% 0 0
    }
    #mobileMenu nav#mainNav ul li a {
        padding: 12px 6px
    }
}
.home-title {
    font-family: 'Dosis', sans-serif;
    font-size: 102px;
    font-weight: 800;
}