/* =========
	Common
============ */
html,body{
	width:100%;
	height:100%;
	color:#000;
}

body{
	border-top:10px solid $blue;
	
}

.container-main{
	max-width:1420px;
	margin:0 auto;
}

#mti_wfs_colophon{
	display:none !important;
}

img{
	max-width:100%;
	height:auto;
}

.onethird{
	width:33%;
}
.onehalf{
	width:50%;
}
.floatleft{
	float:left;
}

#approach.fo-oh-fo > .container-main{
	background: url(../img/404.jpg) 81% 0% no-repeat;
	background-size: 24%;
}

// a:visited{
// 	color:$blue;
// }

/* =========
	Header
============ */
header{
	width:100%;
	//border-top:14px solid #000;\
	/*position:absolute;*/
	margin:0 0 4.5em 0;
	z-index: 500;

	@media($bp-smaller-than-tablet){
		margin:2em 0 4.5em 0;
	}

	.header-wrap{
		// margin:45px 0;
	}
}

/*This declaration needs to be added to the main header when this is made live*/
header.new{
	position:absolute;
}

.single-work header{
	position:fixed;
	top:0;
	width:100%;
	display:none;
}
	


#sayHello{
	//width:100%;
	//height:92px;
	background:$blue; 
	color:white;
	position:relative;
	padding:1em 0;
	display:none;
	height:100px;
	//margin:-92px 0 0;
	// transition:0.2s all;
	// -webkit-transition:0.2s all;
	// -moz-transition:0.2s all;
	// -ms-transition:0.2s all;
	// -o-transition:0.2s all;
	font-size:1.6em;

	font-family:$memphis-medium;

	// @media($bp-smaller-than-tablet){
	// 	display:none;
	// }

	.title{
		display:none;
	}

	&.active{
		margin:0;
	}

	a{
		color:$white;

		&:active,
		&:focus,
		&:hover{
			text-decoration:underline;
			color:$white;
		}
	}

	.container-main{
		height:92px;
		position:relative;
	}

	.gutter{
		// padding:17px 230px 0px 459px;
	}
}
		 
//#sayHello-caret{height: 16px;width: 16px;background: url(../img/sayHello.png) no-repeat;position: absolute;right: 483px;bottom:0px;display: block;transition:0.2s all;-webkit-transition:0.2s all;-moz-transition:0.2s all;-ms-transition:0.2s all;-o-transition:0.2s all;}
			
//.active #sayHello-caret{bottom:-30px;}

// #sayHello .onethird{}
// 	#sayHello .onethird .gutter{padding:0 0;}
// #sayHello .onethird.first{}
// 	#sayHello .onethird.first .gutter{padding:0 0;}
// #sayHello .onethird .last{}
// 	#sayHello .onethird.last .gutter{padding:21px 0 0 0;}
// #sayHello a{color:#fff;font-family:'MemphisLTW01-BoldItalic';transition:0.2s all;-webkit-transition:0.2s all;-moz-transition:0.2s all;-ms-transition:0.2s all;-o-transition:0.2s all;}
// 	#sayHello a:hover{opacity:0.5;}


/* =========
	Home
============ */
body.home{background:white;background-size:cover;}
section#home{}
section#home .container-main{/*height:1136px;*/}
	section#home .container-main .gutter {padding:19px 162px 0 239px; }
	section#home .container-main .one-third { width: 33%; float: left; }
	section#home .container-main .one-third img { max-width: none; }

/* =========
	Default Page
============ */
// #page-content{max-width:95%; margin:0 auto;}
// 	#page-content .container-main{width:940px;}
// 	#page-content .container-main > .gutter{padding:20px;}

@font-face {
		font-family: 'Gothic';
		src: url('assets/fonts/gothic.otf');
}

.frontpage-image { display: block; text-align: center; }
.frontpage-image:hover { cursor: pointer; opacity: 0.7; }

/* =========
	Work
============ */
#works-filter{height:21px;width:100%;background:#ededf0;margin:0 0 21px;}
	body.post-type-archive-work #works-filter{margin:0;}
	#works-filter .gutter {padding: 0 220px 0 240px;}
	#works-filter #complete-works{text-decoration:none;background:#72dbc5;height:21px;float:left;color:#fff;text-transform: uppercase;line-height: 22px;padding: 0 11px;}
	#works-filter #other-works{text-decoration:none;background:#72dbc5;height:21px;float:right;color:#fff;text-transform: uppercase;line-height: 22px;padding: 0 11px;}

	ul#filters{float:left;margin:0;list-style:none;color:#979797;}
		ul#filters li{float: left;padding: 0 21px;line-height: 21px;}
		ul#filters li:hover{cursor:pointer;background:#72dbc5;color:#fff;}
		ul#filters li.active{background:#72dbc5;color:#fff;}

#works-archive{background:#ededf0;width:100%;float:left;}
	#works-archive .container-main{width:940px;}
	#works-archive .gutter {padding: 50px 0 20px;}
	#works-archive .works-archive-entry{float:left;width:50%; z-index: 10; position: relative;font-family:'Memphis LT W01 Medium';font-size:18px; padding-bottom: 8px;}
	#works-archive .works-archive-entry a{color:#15000f;text-decoration:none;}
	#works-archive .works-archive-entry a:hover{color:#72DBC5;text-decoration:none;}


#works.featured{}
	#works.featured .container-main{width:1435px;}
#works .work-entry{transition:0.2s all;-webkit-transition:0.2s all;-moz-transition:0.2s all;-ms-transition:0.2s all;-o-transition:0.2s all;-webkit-transform:scale(1);opacity:1;display:block;}
	#works .work-entry.hide{-webkit-transform:scale(0);opacity:0;height:0;width:0;margin:0;}

.work-entry{float:left;height:171px;width:460px;position:relative;overflow:hidden;margin:0 9px 20px;color:#fff;background:#000;}
	.work-entry .work-entry-img{width:50%;height:100%;}
		.work-entry.left .work-entry-img{float:right;}
		.work-entry.right .work-entry-img{float:left;}

	.work-entry .work-entry-data{width:100%;height:100%;position:absolute;top:0;transition:0.2s all;-webkit-transition:0.2s all;-moz-transition:0.2s all;-ms-transition:0.2s all;-o-transition:0.2s all;}
		.work-entry.left .work-entry-data{left:-50%;}
		.work-entry.right .work-entry-data{right:-50%;}
		.work-entry.left:hover .work-entry-data{left:0;}
		.work-entry.right:hover .work-entry-data{right:0;}

		.work-entry .work-entry-data-vis{width:50%;}
			.work-entry.left .work-entry-data-vis{float:right;}
			.work-entry.right .work-entry-data-vis{float:left;}
			div.work-entry-data-vis .gutter {padding:25px 30px 25px 19px;}

		.work-entry .work-entry-data-add{width:50%;}
			.work-entry.left .work-entry-data-add{float:left;}
			.work-entry.right .work-entry-data-add{float:right;}
			.work-entry .work-entry-data-add .gutter {padding: 75px 20px 20px;}

	span.work-entry-title{font:18px/23px 'Memphis LT W01 Medium';height: 51px;width: 100%;float: left;border-bottom: 6px solid #fff;margin:0 0 7px 0;}
	span.work-entry-medium{font-size: 11px;text-transform: uppercase;line-height: 13px;}


#works.archive{}
	#works.archive .container-main{}
	#works.archive .container-main > .gutter{padding:42px 240px;}
	#works.archive .container-main > .workcf{padding:10px 150px;}

	.work-post{}
		.work-post.grey{background:#f5f5f5;}
	.work-post-intro{float:left;width:100%; margin:20px 0 20px 0;}
		.work-post-intro .work-entry-data{float:left;width: 460px;height: 170px;color:#fff;}

			.work-post-intro .work-entry-data-vis{float:left;width:50%;}
				.work-post-intro .work-entry-data-vis .gutter{padding:25px 29px 20px 20px;}
				.work-post-intro .work-entry-data span.work-entry-title{}
			.work-post-intro .work-entry-data-add{float:left;width:50%;}
				.work-post-intro .work-entry-data-add .gutter{padding:70px 11px 20px 30px;}

		.work-post-intro .work-post-intro-extra{float:right;width:50%;}
			div.work-post-intro-extra .gutter {padding: 0 0 0 10px;}

	.work-post-showcase{float:left;width:100%;display:block;margin:0 0 13px;}
		.work-post-showcase img{float:left;width:100%;height:auto;margin:0 0 17px;}

	.work-process-data{float:left;width:100%;display:none;}
		.work-process-data-vis{float: left;width: 460px;color: #fff;height: 170px;}
			.work-process-data-vis .gutter{padding: 25px 29px 20px 20px;}
		.work-process-title{font: 18px/23px 'Memphis LT W01 Medium';height: 29px;width: 181px;float: left;border-bottom: 6px solid #fff;margin: 0 0 20px 0;}
		.work-process-intro-extra{float:right;width:50%;}
			.work-process-intro-extra .gutter{padding:0px 0px 14px 10px;}
		.work-process-intro-extra h2 {margin: 0 0 27px;}



	.work-entry-process{float:left;width:100%;display:block;}
		.work-entry-process .work-entry-process-collage{float: left;width: 460px;}
		.work-entry-process .work-entry-process-sketch{float:right;width:460px;}
			.work-entry-process-sketch img {margin: 0 0 15px;}

		.work-entry-process-sketch.fullwidth{width:100%;float:left;display:block;}
			.work-entry-process-sketch.fullwidth .process-image{width:460px;display:block;}
			.work-entry-process-sketch.fullwidth .process-image.right{float:right;}
			.work-entry-process-sketch.fullwidth .process-image.left{float:left;}


/* =========
	People
============ */
// #people{margin: 42px 0 0;float: left;width: 100%;}
// 	#people #contentPrimary{float:right;width:460px;}
// 	#people #contentSecondary{float:left;width:960px;}

	//.people-entry{float:left;height:171px;width:460px;position:relative;overflow:hidden;margin:0 0 20px;color:#fff;background:#000;}
		.people-entry:hover{cursor:pointer;}
		//.people-entry .people-entry-img{width:50%;height:100%;position:relative; background-color: #6dc4b1}
			// .people-entry.left .people-entry-img{float:right;}
			// .people-entry.right .people-entry-img{float:left;}

		//.people-entry .people-entry-data{width:100%;height:100%;position:absolute;top:0;transition:0.2s all;-webkit-transition:0.2s all;-moz-transition:0.2s all;-ms-transition:0.2s all;-o-transition:0.2s all;}
			.people-entry.left .people-entry-data{left:-50%;}
			.people-entry.right .people-entry-data{right:-50%;}
			.people-entry.left:hover .people-entry-data{left:0;}
			.people-entry.right:hover .people-entry-data{right:0;}

			//.people-entry .people-entry-data-vis{width:50%;}
				.people-entry.left .people-entry-data-vis{float:right;}
				.people-entry.right .people-entry-data-vis{float:left;}
				div.people-entry-data-vis .gutter {padding:23px 30px 25px 19px;}

			//.people-entry .people-entry-data-add{width:50%;}
				.people-entry.left .people-entry-data-add{float:left;}
				.people-entry.right .people-entry-data-add{float:right;}
				.people-entry .people-entry-data-add .gutter {padding: 49px 20px 20px;}
				.people-entry-pos{text-transform:uppercase;float:left;width:100%;margin:0 0 17px 0;}
				.people-entry-statement{float:left;width:100%;}
				.people-entry-posit{text-transform:uppercase; font-size: 11px;}
				 //.people-entry-content{display: none;}

			//.people-entry-img-active{display:none;position:absolute;top:0;left:0;height:100%;width:100%;}

		span.people-entry-title{font:18px/28px 'Memphis LT W01 Medium';height:auto;width: 100%;float: left;border-bottom: 6px solid #fff;margin:0 0 7px 0;}
		span.people-entry-medium{font-size: 10px;text-transform: uppercase;line-height: 13px;}


	// .people-entry.active {width: 938px;height: 362px;float: left;}
	// 	.people-entry.active .people-entry-img-active{display:block;}
	// 	.people-entry.active.left:hover .people-entry-data{left:-50%;}
	// 	.people-entry.active.right:hover .people-entry-data{right:-50%;}
	// 	.people-entry.active .people-entry-posit, .people-entry.active .people-entry-content{display:block;float:left;width:100%;clear:both;}
	// 	.people-entry.active .people-entry-posit{text-transform:uppercase;margin:0 0 17px;}
	// 	.people-entry.active span.people-entry-title{width:182px;clear:both;margin:0 0 8px;}



/* =========
	Services
============ */
// #services{}
// 	#services .container-main{}
// 	#services .container-main > .gutter{padding:35px 242px 35px 239px;}

// 	#services-threeCol{float:left;width:100%;}
// 		.service-wrap{float:left;width:100%;margin:0 0 20px 0;height:100%;position:relative;display:table;}

// 	#services-threeCol .service-entry{width: 290px;margin:0 30px 0 0;height:100%;position:relative;display:inline-block;vertical-align:top;padding:0 0 48px;}
// 		#services-threeCol .service-entry.first{width: 300px;margin: 0 15px 0 0;}
// 		#services-threeCol .service-entry.last{width: 300px;margin:0;}

// 	#services-threeCol .service-entry .gutter{padding:0 0 0 5px;}
// 		#services-threeCol .service-entry.first .gutter{padding:0 0;}
// 		#services-threeCol .service-entry.last .gutter{padding:0 0 0 5px;}

// 	.services-seemore{position:absolute;bottom:0;left:5px;}
// 		.service-entry.first .services-seemore{left:0;}
// 		.service-entry.last .services-seemore{left:6px;}



/* =========
	Approach
============ */
// #approach{}
// 	#approach .container-main{}
// 	#approach .container-main > .gutter{padding:35px 242px 35px 239px;}

// 	#approach #approach-threeCol{}
// 		#approach #approach-threeCol .onethird{}
// 		#approach #approach-threeCol .onethird .gutter{padding:0 2px 0 10px;}
// 			#approach #approach-threeCol .onethird.first .gutter{padding:0 30px 0 0;}
// 			#approach #approach-threeCol .onethird.last .gutter{padding:0 0px 0 22px;}



/* =========
	Advocates
============ */
// #advocates{}
// 	#advocates .container-main{}
// 	#advocates .container-main > .gutter{}

// 	#adv-mason{}
// 		#adv-mason .adv-entry{margin:0 0 10px 0;color:#fff;}
// 			.adv-entry.masn-one{width:226px;}
// 			.adv-entry.masn-two{width:462px;}
// 			.adv-entry.masn-three{width:698px;}
// 			.adv-entry.masn-four{width:934px;}
// 			.adv-entry.masn-five{width:1170px;}
// 			.adv-entry.masn-six{width:1470px;}
// 		#adv-mason .adv-entry .gutter{padding:26px 52px;}
// 		#adv-mason .adv-entry .adv-entry-message{margin:0 0 15px;width:100%;float:left;}
// 		#adv-mason .adv-entry .adv-entry-advcoate{width:100%;float:left;}



/* =========
	Blog
============ */
//section#blogroll{margin: 42px 0 0;float: left;width: 100%;}
	//section#blogroll #contentSecondary{float:right;width: 940px;margin: 0 240px 0 0;}
		//section#blogroll .blog-entry{width:460px;float:left;margin:0 0 20px;position:relative;}
			//section#blogroll.single .blog-entry{width:100%;}
			.blog-entry .social-badge{position:absolute;top:5px;left:6px;}

			//.post-tumblr-wrap,.post-wp-feature,.post-instagram-feature,.post-tumblr-feature{margin:0 0 10px;}
				//#blogroll.single .post-tumblr-wrap,#blogroll.single .post-wp-feature,#blogroll.single .post-instagram-feature,#blogroll.single .post-tumblr-feature{margin:0 0 6px;}
				.readmore,.followus{font:12px/15px 'MemphisLTW01-BoldItalic';margin:0 0 19px;}
					.followus a{color:#000;}
			.single-post-date,.post-instagram-date,.post-tumblr-date,.post-wp-date{font-size:10px;}
			.readmore {margin: 0 0 19px 0;display: block;}

			//.post-wp-feature{}
				//.blog-entry .post-wp-feature a{position:absolute;top: 27px;left: 12px;color:#fff;border-bottom: 6px solid #fedf00;padding: 0 0 4px 0;width:180px;}

			.post-tumblr-wrap{float:left;width:100%;display:block;background:#fedf00;display:table;vertical-align:middle;height:120px;text-align:center;}
				.post-tumblr-wrap blockquote{height:100%;width:100%;vertical-align:middle;display:table-row;}
					.post-tumblr-wrap blockquote a{vertical-align:middle;display:table-cell;height:100%;width:100%;font:18px/22px 'Memphis LT W01 Medium';}
						#blogroll.single .post-tumblr-wrap blockquote a{font-size:14px;line-height:18px;}
				.post-tumblr-wrap iframe{max-width:100%;}

			.post-wp-tags,.single-post-tags{}
				.post-wp-tags a,.single-post-tags a{background: #fedf00;color: #000;margin: 5px 4px 0 0;padding: 0px 6px;text-transform: uppercase;font-size: 10px;float: left;}


	//section#blogroll #contentPrimary {float: left;width: 220px;background:#fedf00;position:relative;}
		//#blogroll #contentPrimary .gutter {padding:26px 20px;}
		//#blogroll #contentPrimary ul{list-style:none;margin:0;padding:0;}
			// ul#reading-list{margin: 0 0 18px 0 !important;display: block;}
			// ul#reading-list li{}
			// ul#reading-list li a{color:#000;}

			// ul#blog-tax{}
			// ul#blog-tax li{font: 18px/22px 'Memphis LT W01 Medium';margin:0 0 5px;}
			// ul#blog-tax li a{color:#000;}

			#rssUrl{background:url(../img/rssIcon.png) no-repeat;height:29px;width:31px;position:absolute;bottom:-29px;;left:0;}
				#rssUrl > a{display:block;height:100%;width:100%;text-indent:-9999px;}

	/* Single */
	section#blogroll.single{}
		//section#blogroll.single #contentSecondary{float:left;width:720px;margin:0 0 20px;}
			//section#blogroll.single #contentSecondary > .gutter{padding:0 0 0 19px;}

		//section#blogroll.single #contentTertiary{float:left;width:259px;}
			//section#blogroll.single #contentTertiary > .gutter{padding:0 0 0 19px;}

	section#blogroll table{width:100%;margin:20px 0;display:inline-block;}
		section#blogroll table thead{font-weight:bold;font-size:12px;}
		section#blogroll table tbody{}
		section#blogroll table tfoot{}
		section#blogroll table tr{}
		section#blogroll table td{padding:10px;}

		section#blogroll #contentSecondary ul, section#blogroll #contentSecondary ol{padding:0 0 15px;margin:10px 0 10px 15px;}
		section#blogroll #contentSecondary blockquote{font: 18px/22px 'Memphis LT W01 Medium';width: 90%;margin:10px auto;}
		section#blogroll #contentSecondary address{font-style:italic;}





/* ==========
	Mobile
=========== */
.mobile{display:none;}

.frontpage-text {
	font-family: 'Roboto Condensed', sans-serif;
	color: #4d4845;
	text-transform: uppercase;
	position: absolute;
}

.frontpage-text-left {
	width: 20%;
	float: left;
	font-size: 70px;
	margin-top: 25px;
}

.frontpage-text-right {
	width: 70%;
	float: left;
	font-size: 25px;
	line-height: 30px;
	text-decoration: underline;
	letter-spacing: 0.05em;
	text-align: left;
	padding-left: 10px;
}

.frontpage-image {
	position: relative;
}

.text-1 {
	top: 110px;
}

.text-2 {
	bottom: 150px;
	width: 250px;
}

.text-3 {
	bottom: -20px;
}

.text-4 {
	bottom: 65px;
	left: 30px;
}

.text-5 {
	bottom: 15px;
  left: -15px;
}

.text-6 {
	bottom: 160px;
	left: 30px;
}



.home_greeting{

	/*position:absolute;*/
	/*top:50%;
	margin-top:50%;*/
	background:rgba(255,255,255,.7);
	border:5px solid $blue;
	/*width:50%;*/
	margin:0 auto;
	text-align:center;
	/*height:146px;*/
	padding: 30px 0 30px 0;
	
}

.home_greeting h1{
	color:$blue;
	font-size:36px;
	line-height: 1.25;
	margin:.55em auto;
	width:90%;
	font-style: normal;
	font: 28px/36px 'Memphis LT W01 Medium';
}



/*---...___TwentyTwenty Slider___...---*/

.twentytwenty-wrapper{

}

.twenty20{
	/*display:table;*/
	height:100vh; 
	width:100%;
	display:flex;

	align-items: center;
  	justify-content: center;

  	//border-top:10px solid $blue;
	border-bottom:10px solid $blue;
}

.twenty20 .content{
	/*display:table-cell;*/
	/*vertical-align: middle;*/
	position: relative;
	z-index:1000;
	width: 50%;
    /*top: 50%;*/
    /*margin-top: 50%;*/
    margin-left: auto;
    margin-right: auto;
}

.twentytwenty-overlay{
	display:none;
}

.twentytwenty-handle{
	/*transform:skew(30.5deg);*/
	cursor:col-resize !important;
	/*width:5px !important;*/
}

.background-full{
	background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			height: 100vh;
			width: 100%;
}

.twentytwenty-horizontal .twentytwenty-handle:before, 
.twentytwenty-horizontal .twentytwenty-handle:after, 
.twentytwenty-vertical .twentytwenty-handle:before, 
.twentytwenty-vertical .twentytwenty-handle:after{
	background:transparent  !important;
	width:1px !important;
	display: none
}
/*.twentytwenty-container{background: $blue;}*/
.twentytwenty-container img.compare{

/*	-webkit-clip-path: polygon(0 0, 46% 0, 84% 100%, 0 100%);
	 clip-path: polygon(0 2%, 52% 2%, 76% 100%, 0 100%);*/
 
}

.twentytwenty-container{
	.img-container-first,
	.img-container-second{
	    max-width: 100%;
	    position: absolute;
	    top: 0;
	    display: block;
	    height:100vh; 
	    width:100vw;
	    background-repeat:no-repeat; 
	    background-size:cover; 
	    background-position:center center;
	}
}

.twenty20 img{
	 height:100vh; 
	 width:100vw; 
 }



.twenty20 svg{
	height:100vh; 
	 width:100vw;  
	 z-index: 100; 
	 position: absolute; 
 }

 .twenty20 line{
	stroke:rgb(0,0,255);
	stroke-width:5; 
	z-index: 10; 
	position: absolute; 
 }

 .badge {
    width: 180px;
	height: 180px;
	//background-color: #21e9aa;
	padding: 10px;
    //position: relative;
    text-align: center;
    //display:none;
    background-image:url('assets/img/badge-bg.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    display:table;
    font-family:$memphis-medium;

    @media($bp-smaller-than-tablet) {
    	display:none;
    }

    .wrap{
    	display:table;
    	height:180px;
    }

    .content{
    	display:table-cell;
    	vertical-align: middle;
    }

    h3{
    	font-size:1.8em;
    	font-family:$gothic;
    	color:$white;
    	margin:0;
    }

    span{
    	font-size:1.4em;
    	color:$white;
    }
}
// .badge:before, .badge:after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 200px; //was 80px
//     width: 200px;
//     background-color: #21e9aa;
// }
// .badge:before {
//     -webkit-transform: rotate(30deg);
//        -moz-transform: rotate(30deg);
//         -ms-transform: rotate(30deg);
//          -o-transform: rotate(30deg);
//          transform: rotate(30deg);
// }
// .badge:after {
//     -webkit-transform: rotate(60deg);
//        -moz-transform: rotate(60deg);
//         -ms-transform: rotate(60deg);
//          -o-transform: rotate(60deg);
//          transform: rotate(60deg);
// }

.badge-left{
	position: absolute;
	//display:none;
	z-index: 1000;
	top:120px;
	left: 75%;
}

.badge-right{
	position: absolute;
	//display:none;
	z-index: 1000;
	bottom: 10%;
	left: 15%;
}

@media only screen and (max-width: 560px) {
	.twenty20 .content{
		width: 90%;
	}

	.badge{
		display:none;
	}

	.twentytwenty-container img,
	.twenty20 svg{
		display: none !important;
	}
	.home_greeting h1{
		color:$blue;
 
		line-height: 1.25;
		margin:.55em auto;
		width:90%;
		font-style: normal;
		font: 22px/28px 'Memphis LT W01 Medium';
	}
}

@media only screen and (min-width: 561px) and (max-width: 1000px) {
	.twenty20 .content{
		width: 80%;
	}

}

@media screen and (max-height:561px) {
	.twenty20{
		display:flex;

		align-items: flex-start;
	  	justify-content: center;

	}	

	.home_greeting{
 		position: absolute;
 		top: 200px;
		background:rgba(255,255,255,.7);
		border:5px solid $blue;
		/*width:50%;*/
		margin:0 auto;
		text-align:center;
		/*height:146px;*/
		padding: 15px 0 15px 0;
		
	}
}

//General design
a.cta{
    text-align:center;
    border-bottom:1px solid $blue;
    font-size:1.6em;
    text-decoration:none;
    text-transform:uppercase;
    color:$blue;
    &:hover,
    &:active,
    &:focus{
      border-bottom:1px solid transparent;
    }
  }

.page-callout{
	max-width:80%;
	margin:0 auto;
	text-align:center;

	&.interior{
		margin-bottom:7em;
	}

	.divider-line{
		font-size:2em;
		color:black;
		margin:2em 0;
		font-family:$memphis-medium;
	}

	h3{
		font-size:3em;
	}	

	a{
		font-size:1.8em;
		font-family:$gothic;
		text-transform:uppercase;
		border-bottom:transparent;
		color:$blue;
		text-decoration:underline;

		&:hover,
		&:active,
		&:focus{
			text-decoration:none;
		}
	}

}

//Homepage grid

.flex-grid{
  flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;


}

.projects{
	margin:60px 0;
}

.project-box{
      //width:33.33333%;
      //max-width:80%;
      margin-bottom:4em;
      position: relative;

      .hover{
    	display:none;
    	position:absolute;
    	top:0;
    	bottom:0;
    	right:0;
    	left:0;
    	font-size:2.8em;
    	text-align:center;
		background-color:rgba(255,255,255, .7);
		color:$blue;
		font-family:'Gothic';
		-webkit-align-items:center;
	     align-items: center;
	     height: 100%;
	     z-index:2;

	    a{
	    	color:$blue;
	    	text-decoration:none;

	    	span{
	    		color:black;
	    	}
	    	//border-bottom:2px solid $blue;

	    	// &:hover,
	    	// &:active,
	    	// &:focus{
	    	// 	border-bottom:2px solid transparent;
	    	// 	text-decoration:none;
	    	// }
	    }

		.content{
			// display: flex;
			width:100%;
			text-align:center;
			text-transform:uppercase;
		}
    }

      &:hover,
      &:active,
      &:focus{
      	.hover{
      		display:flex;

      		a{
	    		color:$blue;
	    		text-decoration:none;
	    		border-bottom:2px solid $blue;

		    	span{
		    		color:black;
		    		border-bottom:2px solid black
		    	}
	    	}
      	}
      }
    
    .project-container{
    	
    	//position:relative;
    	// img{
    	// 	width:100%;
    	// 	height:auto;
    	// }
    	&.right{
	    	//text-align:right;
	    	margin-left:20%;
	    	max-width:80%;
    	}

	    &.left{
	    	//text-align:left;
	    	margin-right:20%;
	    	max-width:80%;
	    }

	    &.center{
	    	//text-align:center;
	    	margin:0 auto;
	    	max-width:80%;
	    }

	    &.fullwidth{
	    	width:100%;

	    }

	    .project-img{
	    	//position:relative;

	    	.award-winning{
	    		width:100px;
	    		position:absolute;
	    		top:0;
	    		left:0;
	    		//z-index: -1;
	    	}
	    }
    	
    }
    
}

.in-column{
	-webkit-column-count: 3;
    -webkit-column-gap: 20px; 
}

@media($bp-smaller-than-tablet){
	.in-column{
		-webkit-column-count: 2;
	    -webkit-column-gap: 20px; 
	}
}

@media($bp-smaller-than-mobile){
	.in-column{
		-webkit-column-count: 1;
	    -webkit-column-gap: 20px; 
	}
}

.work-grid[data-columns]::before {
	content: '3 .column.size-1of3';
}

@media($bp-smaller-than-tablet){
	.work-grid[data-columns]::before {
	content: '2 .column.size-1of2';
}
}

@media($bp-smaller-than-mobile){
	.work-grid[data-columns]::before {
	content: '1 .column.size-1of1';
}
}

.column { float: left; }
.size-1of3 { 
	width: 33.333%; 
	padding-left:15px;
}

//People grid

.people-entry{
	.hover{
		display:none;
		background-color:$blue_rgba;
		color:white;
		position:absolute;
		top:0;
		bottom:0;
		right:0;
		left:0;
		height:100%;
		padding:20px 0;
		font-family:$memphis-medium;

		h2{

			//
			// color:white;
			// border-bottom:2px solid white;
			 cursor:pointer;

			a,
			span{
				//font-size:3.6em;
				line-height:1.25;
				//text-decoration:underline;
				 color:white;
				 border-bottom:2px solid white;

				&:hover,
				&:active,
				&:focus{
					text-decoration:none;
				}
			}
		}

		.content{
			width:80%;
			margin:0 auto;
			position:relative;

			.tags{
				font-family:'Gothic';
				a{
					color:white;
					font-size:1.4em;
					text-decoration:none;

					&:hover,
					&:active,
					&:focus{
						text-decoration:underline;
					}
				}
			}

		}
	}

	&:hover,
	&:active,
	&:focus{
		.hover{
			display:flex;
		}
		
	}
}

//Work landing(archive) & People Landing (archive) layout
.work-grid,
.people-grid{
	margin-left:10px;
	//height:auto !important;
	max-width:90%;
}

.work-block{
	margin-bottom:4em;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
	position:relative;

	.hover{
		display:none;
		background-color:$blue_rgba;
		color:white;
		position:absolute;
		top:0;
		bottom:0;
		right:0;
		left:0;
		height:100%;
		padding:20px 0;
		font-family:'Memphis';

		h2{

			//
			// color:white;
			// border-bottom:2px solid white;
			 cursor:pointer;

			a,
			span{
				//font-size:3.6em;
				line-height:1.25;
				//text-decoration:underline;
				 color:white;
				 border-bottom:2px solid white;

				&:hover,
				&:active,
				&:focus{
					text-decoration:none;
				}
			}
		}

		.content{
			width:80%;
			margin:0 auto;
			position:relative;

			.tags{
				font-family:'Gothic';
				a{
					color:white;
					font-size:1.4em;
					text-decoration:none;

					&:hover,
					&:active,
					&:focus{
						text-decoration:underline;
					}
				}
			}

			.post-instagram-content{
				font-size:1.6em;
			}

			.followus{
				margin:.5em 0;
				a{
					font-size:1.6em;
					color:white;
					text-decoration:underline;

					&:hover,
					&:focus,
					&:active{
						color:white;
						text-decoration:none;
					}
				}
				
			}

			.post-instagram-date{
				font-size:1.6em;
			}

			.post-wp-tags,
			.single-post-tags{

				margin:.5em 0;
				a{
					background:$white;
					color:$black;
					padding:4px 5px;
					margin:.5em 0;
					//text-decoration:underline;

					&:hover,
					&:focus,
					&:active{
						background:$black;
						color:$white;
						padding:4px 5px;
					}

				}
			}

			footer{
				position:absolute;
				bottom:0;
				width:100%;

				.mediums{
					float:left;
					li{
						margin:0;
						padding:0;
						list-style-type: none;

						a{
							color:$white;
							text-decoration:none;
							font-size:1.4em;
							font-family:'Gothic';

							&:hover,
							&:active,
							&:focus{
								text-decoration: underline;
							}
						}
					}
				}

				.social-share{
					float:right;
					ul{
						padding:0;
						margin:0;
						li{
							display:inline-block;
							list-style-type: none;
							margin-left:5px;
							a{
								&:hover,
								&:focus,
								&:active{
									opacity:.7;
								}
							}
						}
					}
				}
			}
		}
	}

	&:hover,
	&:active,
	&:focus{
		.hover{
			display:flex;
		}
		
	}
}

.column-gutter{
	width:2%;
}

.work-container{
	
	min-height:300px;
	//position:relative;

	&.left{
		margin-right:20%;
		max-width:80%;
	}

	&.right{
		margin-left:20%;
		max-width:80%;
	}

	&.center{
		margin:0 auto;
		max-width:80%;
	}

	&.fullwidth{
		max-width:100%;
	}

	

	

	.tags{
		font-family:'Gothic';
		a{
			color:white;
			font-size:1.4em;
			text-decoration:none;

			&:hover,
			&:active,
			&:focus{
				text-decoration:underline;
			}
		}
	}
}

.tags{
		font-family:'Gothic';
		color:white;
		text-transform:uppercase;
		a{
			color:white;
			font-size:1.4em;
			text-decoration:none;

			&:hover,
			&:active,
			&:focus{
				text-decoration:underline;
			}
		}
	}

//Individual work pages
.title-bar{
		width:30%;
		height:100%;
		top:0;
		position:fixed;
		color:white;
		background-color:$blue;
		padding:4em 2em;

		.content{
			margin-left:20px;
			height:100vh;
			display: flex;
		  align-items: center;
		  justify-content: center;
		}

		.view-all{
			position:absolute;
			left:-27px;
			top:15em;
			p{
				transform:rotate(90deg);
				//background-color:red;
				font-size:1.4em;
				font-weight:500;
			}

		}

		.tags{
			font-size:1.4em;
		}

		h1,
		p{
			color:white;
		}

		h1{
			span{
				border-bottom:2px solid white;
			}
		}

		p{
			font-family:$raleway;
			font-weight:500;
		}

		ul{
			li{
				list-style-type:none;
				padding:0;
				margin:0;
				text-transform:uppercase;
			}
		}
	}

.work-panels{
 

	.work-single{
		height:100vh;
		width:100%;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center center;
	}
}

//Text Pages
.quote{
	margin-top:4em;

	&:before{
		content:"";
		width:23em;
		border-bottom:2px solid $blue;
		position:absolute;
	}

	.quote-content{
		font-family: $memphis-light-italic;
	    font-size:2.8em;
	    padding:0;
	    padding-top:.5em;
	}

	.quote-attr{
		font-family:$raleway;
		font-weight:400;
	}
}

footer.site-footer{
	border-bottom:10px solid $blue;
	margin-top:5em;
	clear: both;

	.wrap{
		width:95%;
		margin:0 auto;
	}
	p{
		text-align: right;
		text-transform: uppercase;
		padding:0;
		margin:0;
		font-family: $gothic;
		font-size:1.6em;
		text-transform:uppercase;
		// border-bottom:2px solid $blue;
		// margin-right:10px;
		text-decoration:underline;
		padding:10px 0;
	}
}

//Blog Entries

//Addition 1/30/17 7:50pm
#blogroll{
	max-width:99%;
}


//Blog Entries
.blogroll-grid,
.blogroll-single{

	.sidebar{
		color:$white;
		//padding:0 1em;
		.content{
			background:$yellow;
			padding:1em;

			.sidebar-title{
				font-size:2.2em;
			}

			h2{
				margin:0;
				margin-bottom:.5em;
				span{
					border-bottom: 2px solid $blue;
				}
				
			}

			ul{
				li{
					list-style-type:none;
					margin:0;
					padding:0;
					margin-bottom:2px;
					a{

						&:hover,
						&:active,
						&:focus{
							text-decoration:underline;
						}
					}
				}
			}
		}
	}

	.blog-entry{
		//.post-instagram-feature,

		&.macy-box.columns-4{
			padding-right:0;
		}
		.post-wp-feature{
			position:relative;
			// position:absolute;
			
			h2{
				position:absolute;
				top: 27px;
				left: 12px;
				font-size:1.8em;
				margin:0;
				a{
				color:$white;
				//font-size:1.8em;
				border-bottom:2px solid $white;
				text-decoration:none;

					&:hover,
					&:active,
					&:focus{
						border-bottom:2px solid transparent;
						text-decoration:none;
					}
				}
			}

			
			
		}

		.post-wp-content{
				.readmore{
					color:$black;
					text-decoration:none;

					&:hover,
					&:focus,
					&:active{
						text-decoration:underline;
					}

				}
			}
		// .blog-entry-title{
		// 	color:$white;
		// 	font-size:1.8em;
		// }
	}
}

.people-entry{
	&.macy-box.columns-4{
			padding-right:0;
		}
}

.has-emoticons{
	position:relative;
}
.emoticon{
	position:absolute;
	z-index:200;

	&.one{

		top:5%;
		left:10%;
	}
	&.two{
		top:30%;
		left:0;
	}
	&.three{
		top:60%;
		left:0;
	}
	&.four{
		top:80%;
		left:15%;
	}
	&.five{
		top:95%;
		left:10%;
	}
	&.six{
		top:85%;
		right:15%;
	}
	&.seven{
		top:34%;
		right:15%;
	}
	&.eight{
		top:55%;
		right:0;
	}
	&.nine{
		top:10%;
		right:10%;
	}
}

//Sidr

.sidr-close{
	display:none;
}

.sidr{

	background:white;
	// border-top:10px solid $blue;
	// border-bottom:10px solid $blue;
	box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.4);

	.sidr-inner{
		padding:0 2em;
	}

	.sidr-close{
		display:inline;
		//float:right;
		background:black;
		color:white;
	    padding: 7px 14px;
		text-transform:uppercase;
		cursor:pointer;
		//margin:1em 0 0 0;
	    position: absolute;
	    right: 1em;
	    top: 1em;
	    font-weight:bold;

	    &:hover,
	    &:active,
	    &:focus{
	    	background-color:$blue;
	    }
	}


	.sh{

		//padding:0 2em;

			.title{
			font-size:2em;
			color:black;
			font-family:$memphis-medium;
			line-height:1.25;
			margin:1.5em 0;
			border-bottom:2px solid black;
			width:70%;
		}

		.loc{
			font-size:1.4em;
			font-family:$memphis-medium;
			margin-bottom:1em;

			a{
				color:$blue;
				text-decoration:none;
				border-bottom:2px solid $blue;

				&:hover,
				&:focus,
				&:active{
					border-bottom:2px solid transparent;
					text-decoration:none;
				}
			}
		}


	}
	

	ul{
		//padding:0 2em;
		margin-top:6em;

		li{
			list-style-type:none;

			&.current-menu-item{
				a{
					color:$blue;
					border-bottom:2px solid $blue;
				}
			}

			a{
				font-size:2em;
				border-bottom:2px solid transparent;
				color:black;
				font-family:$memphis-medium;
				line-height:1.25;

				
				&:hover,
				&:focus,
				&:active{
					color:$blue;
					border-bottom:2px solid $blue;
					text-decoration:none;
				}
			}
		}
	}
}

//Landing grid individual projects/people

#grid{
	padding-top:200px;
}

#infobar{
    z-index: 3;
    cursor: pointer;
    position: fixed;
    border: 0px;
    background-color: $blue;
    height: 100vh;
    width: 33%;
    min-width: 350px;
    //box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.3);
    left: 96%;
    top:0;
    //margin-left: -40px;


}

#gallery_cover{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    top:0;
    bottom:0;
    position: fixed;
    visibility: hidden;
    z-index:1;
}

.detail_copy{
    position: absolute;
    visibility: hidden;
    top: 180px;
    //left: 96%;
    width: 100%;
    height: 100%;
    padding: 90px 60px;
    max-width: 800px;
    margin: 0 auto;

    // @media($bp-smaller-than-tablet){
    // 	position:relative;
    // 	height:auto;
    // }

    h3{
    	font-family: 'Memphis LT W01 Medium', sans-serif;
	    font-size: 24px;
	    color: #fff;
	    line-height: 42px;
    }

    p{
	    color: #fff;
	    font-family: 'Raleway', sans-serif;
	    line-height: 20px;
	    font-size: 14px;
 
	}
}

span#back_tip {
		font-family: 'Gothic';
		font-size: 14px;
		position: absolute;
		text-transform: uppercase;
		left: 150px;
		top: 218px;
		width:140px;
		color: #fff;
		background: rgba(0,0,0,0.8);
		height: 30px;
		line-height: 32px;
		text-align: center;
		visibility: hidden;
 
 
	&:after {
	  content: '';
	  position: absolute;
	  top: 50%;
	  right: 100%;
	  margin-top: -8px;
	  width: 0; height: 0;
	  border-right: 8px solid rgba(0,0,0,0.8);
	  border-top: 8px solid transparent;
	  border-bottom: 8px solid transparent;
	}
}

.underline{
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;
}

#explore_text{
    color: #fff;
    font-family: "Memphis LT W01 Light";
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    margin-top: 40px;
}

#fs_title1{
    color: #fff;
    font-family: "Memphis LT W01 Light";
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 0px;
    position: absolute;
    bottom: 30%;
    right: 10px;
    visibility: hidden;
}

#detail_exit{
    z-index: 3;
    font-size: 42px;
    font-weight: 100;
    color: #fff;
    visibility: hidden;
    position: absolute;
    top: 210px;
    left: 60px;
    cursor: pointer;
 //    transition: all 0.2s ease-in-out;
	// &:hover{
	// 	left: 56px;
	// }     
}
 
#detail_scrollarea{
    visibility: hidden;
    position: fixed;
    width: 67vw;
    height: 100vh;
    overflow-y: scroll;
    top:0;
    right: 0;
    z-index:2;

    #fullscreen{
	    z-index: 1;
	    color: #fff;
	    font-size: 48px;
	    font-weight: 100;
	    position: fixed;
	    bottom: 40px;
	    right: 50px;
	    cursor: pointer;
	}
    #fullscreen_exit{
		z-index: 1;
		color: #fff;
		font-size: 48px;
		font-weight: 100;
		position: fixed;
		bottom: 40px;
		right: 50px;
		cursor: pointer;
		visibility: hidden;	
    }

	img{
	    display: block;
	    width: 100%;
	    margin: 0px;
	    padding: 0px;
	}
	span {
		font-family: 'Gothic';
		font-size: 14px;
		line-height: 32px;
		position: fixed;
		bottom: 48px;
		right: 110px;
		width:140px;
		color: #fff;
		background: rgba(0,0,0,0.8);
		height: 30px;
		line-height: 30px;
		text-align: center;
		visibility: hidden;
		text-transform: uppercase;
		 
	}

	span:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 100%;
		margin-top: -8px;
		width: 0; height: 0;
		border-left: 8px solid rgba(0,0,0,0.8);
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
	}
}

.detail_nav{
    position: absolute;
    width: 90%;
    bottom: 20px;
    left: 80%;
    visibility: hidden;
    i{
	    color: #fff;
	    font-size: 42px;
	    text-align: left;
	    letter-spacing: 10px;
	}
	p{
	    color: #fff;
	    font-family: 'Raleway', sans-serif;
	    font-size: 1.6em;
	    line-height:3;
	    margin:0;
	    padding:0;
	}
}

.detail_switch{
	padding: 14px 0;
	position: relative;
	svg{
		width: 24px;
		cursor: pointer;
	}
	span {
		font-family: 'Gothic';
		font-size: 14px;
		position: absolute;
		text-transform: uppercase;
		left: 50px;
		top: 5px;
		width:140px;
		color: #fff;
		background: rgba(0,0,0,0.8);
		height: 30px;
		line-height: 32px;
		text-align: center;
		visibility: hidden;
 
	}
	span:after {
	  content: '';
	  position: absolute;
	  top: 50%;
	  right: 100%;
	  margin-top: -8px;
	  width: 0; height: 0;
	  border-right: 8px solid rgba(0,0,0,0.8);
	  border-top: 8px solid transparent;
	  border-bottom: 8px solid transparent;
	}
}

//------------------------------

 

.active-project{
	visibility: visible;
}





//Accessibility
.sr-only{
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0, 0, 0, 0);
	border:0
}